@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Liu+Jian+Mao+Cao&display=swap');

h1
{
  font-family: 'Liu Jian Mao Cao', cursive;
}

p
{
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
}

.header
{
  position: relative;
  margin: 20px;
  top: 0;
  display: block;
}
.header h1
{
  padding-left: 2em;
  font-size: 6em;
}

#logo
{
  width: 150px;
}

.body
{
  clear: both;
  max-width: 700px;
  margin: auto;
  padding: 80px 0 50px 0;
}

.content .box
{
  margin: 10px;
  box-shadow: 2px 2px 5px #c6c6c6;
  height: 150px;
  transition: all 0.5s ease-in-out;
  background-color: #f7f7f7;
}

.content .box:hover
{
  transform: scale(1.2, 1.2);
  opacity: 1;
  z-index: 2;
}

.box p
{
  font-size: 28px;
  padding: 10px 0 0 10px;
  text-align: center;
}

.box ul
{
  font-size: 10px;
}

table
{
  margin-bottom: 0;
  font-size: 10px;
}

.box .first
{
  background-color: #a4a4ca;
  height: 70px;
  overflow: hidden;
  margin-left: 10px;
  font-size: 8px;
  padding: 5px;
}

.box .second
{
  background-color: #bfb37d;
  height: 70px;
  overflow: hidden;
  margin-right: 10px;
  font-size: 8px;
  padding: 5px;
}

.footer
{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.footer p
{
  font-size: 14px;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .body
  {
    max-width: 450px;
  }
  .header h1
  {
    font-size: 3em;
  }
}
